* {
    margin: 0;
    padding: 0;
  }

*,
*::before,
*::after {
    box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
html,
body,
#root {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #18191f;
}

.responsive {
    max-width: 100%;
}

.img-black {
    filter: brightness(0);
}

.img-white {
    filter: brightness(0) invert(1);
}
