.card{
  display: inline-block;
  width: 45%;
  padding: 4rem 1rem 7rem 1rem;
  background-color: teal;
  position: relative;
  margin: 1rem;
  box-sizing: border-box;
}



.card::after{
  content: "";
    display: block;
    width: 0px;
    height: 0px;
    background-color: rgb(239, 240, 197);
    top: 0px;
    right: 0px;
    border-bottom: 20px solid darken(rgb(239, 240, 197), 5%);
    border-left: 20px solid darken(rgb(239, 240, 197), 5%);
    border-right: 20px solid #1e2531;
    border-top: 20px solid #1e2531;
    position: absolute;
    filter: drop-shadow(-5px 5px 3px rgba(0,0,0,0.5));
    box-sizing: border-box;
}

.card::before{
  content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-top: 40px solid darken(rgb(239, 240, 197), 5%);
    border-right: 40px solid darken(rgb(239, 240, 197), 5%);
    border-left: 20px solid #1e2531;
    border-bottom: 20px solid #1e2531;
    bottom: 0px;
    left: 0px;
    position: absolute;
    filter: drop-shadow(7px -7px 5px rgba(0,0,0,0.5));
    margin-right: 10%;
    box-sizing: border-box;
}

.card::nth-of-type(1){
  margin-right: 9%;
  box-sizing: border-box;
}

