html,
body {
  background-color: #1e2531;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

element {
  --tablet: 640px;
  --laptop: 1024px;
  --desktop: 1440px;
}

@media (max-width: 1024px) {
  body{
      height: auto;
  }
}